.DS_Store
source-apps/cache/*
!source-apps/cache/index.html
source-apps/logs/*
!source-apps/logs/index.html
!source-apps/*/.htaccess

composer.lock
# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
